<div id="w_grid-1571719344816" class="w_grid-000" data-tmpleditable="editable"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571719344816-0" class="e_box e_box-000 d_gridCell_0 p_gridCell ND_empty" data-editablecontent="1571719344816"><div id="w_grid-1571730235747" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571730235747-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1571730235757" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571730235757-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1571730235797" class="reset_style"><div><p><span style="line-height:1.6"><span style="font-size:34px"><span style="font-family:微软雅黑"><span style="color:#FFFFFF"><strong>深度咨询</strong></span></span></span></span></p>
</div></div></div>       </div>  </div></div></div>       </div>  </div></div><div id="w_grid-1571740005750" class="w_grid-000" data-vhide100p="true" data-vhide1024="true"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571740005750-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1571740005754" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571740005754-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1571740005759" class="reset_style"><div><p><span style="line-height:1.6"><span style="font-size:34px"><span style="font-family:微软雅黑"><span style="color:#FFFFFF"><strong>深度咨询</strong></span></span></span></span></p>
</div></div></div>       </div>  </div></div></div>       </div>  </div></div><div id="w_grid-1571730235767" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571730235767-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1571730235777" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">
  <div id="content_box-1571730235777-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
    <div id="w_common_text-1571730235807" class="reset_style">
      <div>
        <%= raw @page.try(:content)%>
      </div>
    </div>
    <div id="w_fbtn-1571730431493" class="w_fbtn-001">
      <div class="w_fbtn animated  ">
        <a href="https://wj.qq.com/s2/5239105/9f69/" class="e_link e_link-001 p_link" target="_blank" title="预约咨询">
          <div class="e_btn e_CommonBtn-001 p_CommonBtn">
            <div class="font">预约咨询</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>  </div></div></div>       </div>  </div></div></div>       </div>  </div></div>