<div id="w_carouselbox-1571734708523" class="w_carouselbox-001">
  <div class="w_carouselbox swiper-container-pc">
    <div class="swiper-wrapper">
      <% WizcmsLink::Category.get('desktop_swiper').links.each do |pp|%>
        <div class="swiper-slide" style="background-image: url(<%= asset_path pp.image %>);"> </div>
      <% end -%>
    </div>
    <div class="swiper-pagination swiper-pagination-h"></div>
    <i class="e_icon e_icon-000 toLeft"></i>
    <i class="e_icon e_icon-000 toRight"></i>
  </div>
</div>
<style type="text/css">

  .swiper-container-pc .swiper-pagination{
    width: auto;
    height: 21px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.30);
    border-radius: 10px;
    padding: 0 10px;
    font-size: 0;
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }
  .swiper-container-pc .swiper-pagination:before{
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .swiper-container-pc .swiper-pagination .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    background-color: #726D64;
    cursor: pointer;
  }
  .swiper-container-pc .swiper-pagination .swiper-pagination-bullet:last-child{
    margin-right: 0;
  }
  .swiper-container-pc .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #FFF;
  }
  .swiper-container-pc .swiper-slide{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
  }
</style>
<script type="text/javascript">

  var swiperH = new Swiper('.swiper-container-pc', {
    spaceBetween: 50,
    pagination: {
      el: '.swiper-pagination-h',
      clickable: true,
    },
    loop: true,
    navigation: {
      nextEl: '.toLeft',
      prevEl: '.toRight',
    }
  });
</script>


<div id="w_grid-1572314493604" class="w_grid-000" data-vhide100p="true" data-vhide1024="true">
  <div class="w_grid signal">
    <div class="e_box e_box-000 p_gridbox">
      <div id="content_box-1572314493604-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
        <div id="c_portalResEbizads_banner-15723144673536012" class="c_portalResEbizads_banner-01001" data-vhide100p="true">
          <!-- banner 大盒子开始 -->
            <div class="bannerBox">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <!-- 单个 盒子循环开始 -->
                  <% WizcmsLink::Category.get('mobile_swiper').links.each do |pp|%>
                    <div class="swiper-slide">
                      <div class="content">
                        <!-- 图片开始 -->
                       <div class="picB" data-ename="Banner大图">
                        <%= image_tag pp.image, class: "bannerPic" %>
                        </div>
                        <!-- 图片结束 -->
                      </div>
                    </div>
                  <% end -%>
                  <!-- 单个 盒子循环结束 -->
                </div>
                <!-- banner 按钮开始 -->
                <div class="bannerBtn">
                  <div class="swiper-button-prev">
                      <i class="iconfont">&#xe687;</i>
                  </div>
                  <div class="swiper-button-next">
                    <i class="iconfont">&#xe6ae;</i>
                  </div>
                </div>
                <!-- banner 按钮结束 -->
              </div>
            </div>
        <!-- banner 大盒子结束 -->
        </div>
      </div>
    </div>
  </div>
</div>
<script>


      var mySwiper = new Swiper('.swiper-container', {
          //可选选项，自动滑动
        autoplay: 5000,
        //操作后继续轮播
        autoplayDisableOnInteraction : false,
        // 循环播放
        loop : true,
        // 滑出效果
        //effect: 'fade',
        // 前按钮
        prevButton: '.swiper-button-prev',
        // 后按钮
        nextButton: '.swiper-button-next',

        // slid开始滑动到结束的时间
        speed: 1200,
        // 视差效果
        parallax: true,


      })

</script>
<div id="w_grid-1571671794780" class="w_grid-000">
  <div class="w_grid signal">
    <div class="e_box e_box-000 p_gridbox">
      <div id="content_box-1571671794780-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
        <div id="w_grid-1571671819943" class="w_grid-001">
          <div class="w_grid ">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571671819943-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_common_text-1571671960245" class="reset_style">
                  <div>
                    <p>
                      <span style="line-height:1.7">
                        <span style="font-family:times new roman,times,serif">
                          <span style="color:#1d2953">
                            <span style="font-size:3.1rem">About&nbsp;</span></span>
                          <span style="color:#cfd4e6">
                            <span style="font-size:2.4rem">Jay.J.Lin</span></span>
                        </span>
                      </span>
                    </p>
                  </div>
                </div>
                <div id="w_common_text-1571672066859" class="reset_style">
                  <div>
                    <p>
                      <span style="font-size:24px">
                        <span style="color:#000000">
                          <strong>
                            <span style="font-family:微软雅黑">个人简介</span></strong>
                        </span>
                      </span>
                    </p>
                  </div>
                </div>
                <div id="w_fline-1571673444888" class="w_fline-001">
                  <div class="w_fline">
                    <div class="e_line e_Hline-001 p_FLine"></div>
                  </div>
                </div>
                <div id="w_common_text-1571673717793" class="reset_style">
                  <div>
                    <p>
                      <span style="line-height:2">
                        <span style="color:#000000">
                          <span style="font-family:微软雅黑">
                            <span style="font-size:22px">
                              <strong>林杰</strong></span>
                          </span>
                        </span>
                      </span>
                    </p>
                    <p>
                      <span style="font-size:14px">
                        <span style="line-height:2">
                          <span style="color:#000000">
                            <span style="font-family:微软雅黑">
                              <strong>· 留美小留学生，17岁华尔街带薪实习
                                <br />· 康奈尔大学双学士
                                <br />· 哥伦比亚大学教育硕士
                                <br />· 哈佛商学院学校管理&amp;领导力认证
                                <br />· 畅销书作者</strong></span>
                          </span>
                        </span>
                      </span>
                    </p>
                  </div>
                </div>
                <div id="w_common_text-1571673770581" class="reset_style">
                  <div>
                    <p>
                      <span style="line-height:2">
                        <span style="font-size:14px">
                          <span style="font-family:微软雅黑">亲身经历美高，自主完成藤校申请。康奈尔大学校友面试官4年，在美国百年寄宿高中从事招生录取、英语教学、学校管理工作。回国之后，在北京鼎石学校和国际教育企业担任要职多年。30多年的经历，从求学者和教学者，从学校办学者和企业管理者等多重角度深刻领悟了中美教育的精髓以及国际教育行业的高速发展。</span></span>
                      </span>
                    </p>
                    <p>
                      <span style="line-height:2">
                        <span style="font-size:14px">
                          <span style="font-family:微软雅黑">&nbsp;</span></span>
                      </span>
                    </p>
                    <p>
                      <span style="line-height:2">
                        <span style="font-size:14px">
                          <span style="font-family:微软雅黑">基于多年积累，林老师以极其独特的视角出版了《我在美国当老师》和《优秀的绵羊》。前者从内心出发，以多年思考和热情积累而成的著作，还原了美国精英中学教育；后者从大脑出发，为教育空间增加多元声音而驱动的译作，还原了美国精英大学教育。
                            <br />
                            <br />林老师带着一颗教学者真诚细腻的内心和一个创业者敏锐犀利的大脑为家庭和学校提供最专业的服务。</span></span>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <div id="content_box-1571671819943-1" class="e_box e_box-000 d_gridCell_1 p_gridCell">
                <div id="w_fimg-1571673400300" class="w_fimg-000">
                  <div class="w_img animated  ">
                    <div class="e_box e_box-000 p_box">
                      <div class="e_image e_DImage-001 p_dimage">
                        <img src="/assets/pool601/at1.png" width="100%", height="100%">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <div id="w_grid-1571671809447" class="w_grid-000">
        <div class="w_grid signal">
          <div class="e_box e_box-000 p_gridbox">
            <div id="content_box-1571671809447-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
              <div id="w_grid-1571674043131" class="w_grid-001">
                <div class="w_grid signal">
                  <div class="e_box e_box-000 p_gridbox">
                    <div id="content_box-1571674043131-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                      <div id="w_common_text-1571674043137" class="reset_style">
                        <div>
                          <p>
                            <span style="font-family:times new roman,times,serif">
                              <span style="color:#1d2953">
                                <span style="font-size:3.1rem">Video&nbsp;</span></span>
                              <span style="color:#cfd4e6">
                                <span style="font-size:2.4rem">Audio</span></span>
                            </span>
                          </p>
                        </div>
                      </div>
                      <div id="w_common_text-1571674043144" class="reset_style">
                        <div>
                          <p>
                            <span style="font-size:24px">
                              <span style="color:#000000">
                                <strong>
                                  <span style="font-family:微软雅黑">视频音频</span></strong>
                              </span>
                            </span>
                          </p>
                        </div>
                      </div>
                      <div id="w_fline-1571674043146" class="w_fline-001">
                        <div class="w_fline">
                          <div class="e_line e_Hline-001 p_FLine"></div>
                        </div>
                      </div>
                      <div id="w_grid-1571674316477" class="w_grid-000">
                        <div class="w_grid signal">
                          <div class="e_box e_box-000 p_gridbox">
                            <div id="content_box-1571674316477-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                              <div id="w_fvideo-1571674107259" class="w_fvideo-001">
                                <div class="w_fvideo">
                                  <video autoplay="" loop="" controls="" poster="" type="video/mp4" class="e_video e_video-000 p_video pause" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-orientation="h5" x5-video-player-fullscreen="true">
                                    <source src="https://v1.cecdn.site.cn/100085_1909245055/美国宽松教育的真相是什么.mp4" />
                                    <source src="https://v1.cecdn.site.cn/100085_1909245055/美国宽松教育的真相是什么.mp4&quot;" /></video>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="w_grid-1571674587125" class="w_grid-001">
                        <div class="w_grid ">
                          <div class="e_box e_box-000 p_gridbox">
                            <div id="content_box-1571674587125-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                              <div id="w_common_text-1571674043151" class="reset_style">
                                <div>
                                  <p>
                                    <span style="font-size:16px">
                                      <span style="color:#1d2953">
                                        <span style="line-height:2">
                                          <span style="font-family:微软雅黑">中国的基础教育是否更加扎实？宽松的美国教育又如何平衡快乐与强度？这背后其实隐藏着美式教育的精髓所在，该视频将为您揭开这层纱。</span></span>
                                      </span>
                                    </span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div id="content_box-1571674587125-1" class="e_box e_box-000 d_gridCell_1 p_gridCell">
                              <div id="w_fbtn-1571674613661" class="w_fbtn-001">
                                <div class="w_fbtn animated">
                                  <%= link_to corpvideo_index_path, class: "e_link e_link-001 p_link" do %>
                                    <div class="e_btn e_CommonBtn-001 p_CommonBtn">
                                      <div class="font">观看更多视频</div></div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>