     <div class="jinjia" data-am-scrollspy="{animation:'slide-top', repeat: false}">
         <table cellpadding="0" cellspacing="0" class="jinjia_tab bor_b" width="100%">

             <tr>
                 <th width="1%"></th>
                 <th width="35%">商品</th>
                 <th width="32%">回购</th>
                 <th width="32%">销售</th>
             </tr>
             <tr>
                 <td rowspan="7" class="titletd"><span class="jinjia_tab_r1">固源珠宝现货行情</span></td>
                 <td>黄金</td>
                 <td><span class="f_hongse" id="HJBP1">----</span></td>
                 <td><span class="f_hongse" id="HJSP1">----</span></td>
             </tr>
             <tr class="jinjia_tab_tr">
                 <td>铂金</td>
                 <td><span class="f_hongse" id="BJBP1">----</span></td>
                 <td><span class="f_hongse" id="BJSP1">----</span></td>
             </tr>
             <tr>
                 <td>钯金</td>
                 <td><span class="f_hongse" id="BAJBP1">----</span></td>
                 <td><span class="f_hongse" id="BAJSP1">----</span></td>
             </tr>
             <tr class="jinjia_tab_tr">
                 <td>白银</td>
                 <td><span class="f_hongse" id="BYBP1">----</span></td>
                 <td><span class="f_hongse" id="BYSP1">----</span></td>
             </tr>
            <tr >
                 <td>千足金</td>
                 <td><span class="f_hongse" id="HJ999BP1">----</span></td>
                 <td><span class="f_hongse" id="HJ999SP1">----</span></td>
             </tr>


             <tr class="jinjia_tab_tr">
                 <td>铂金950</td>
                 <td><span class="f_hongse" id="BJ950BP1">----</span></td>
                 <td><span class="f_hongse" id="BJ950SP1">----</span></td>
             </tr>
             <tr>
                 <td>钯金990</td>
                 <td><span class="f_hongse" id="PJ990BP1">----</span></td>
                 <td><span class="f_hongse" id="PJ990SP1">----</span></td>
             </tr>

         </table>

         <table cellpadding="0" cellspacing="0" class="jinjia_tab mt_20" width="100%">
             <tr>
                 <td rowspan="4" width="1%" class="titletd"><span class="jinjia_tab_r1">国际市场行情</span></td>
                 <td width="35%">港金</td>
                 <td width="32%"><span class="f_hongse" id="HKgoldBP1">----</span></td>
                 <td width="32%"><span class="f_hongse" id="HKgoldSP1">----</span></td>
             </tr>
             <tr class="jinjia_tab_tr">
                 <td>黄金(T+D)</td>
                 <td><span class="f_hongse" id="goldTDBP1">----</span></td>
                 <td><span class="f_hongse" id="goldTDSP1">----</span></td>
             </tr>
             <tr>
                 <td>黄金99.99</td>
                 <td><span class="f_hongse" id="goldBP1">----</span></td>
                 <td><span class="f_hongse" id="goldSP1">----</span></td>
             </tr>
             <tr class="jinjia_tab_tr">
                 <td>美元/人民币</td>
                 <td><span class="f_hongse" id="yuanBP1">----</span></td>
                 <td><span class="f_hongse" id="yuanSP1">----</span></td>
             </tr>
  </table>
         <span class="jinjia_span">
             <span class="jinjia_span_l">
              <b>免责声明：</b>
                <table style='font-size:12px'>
                    <tr>
                        <td>1、本网站若有侵犯版权的内容，请联系纠正。</td>
                    </tr>
                    <tr>
                        <td>2、本网站提供的信息仅供参考，本公司保留合法解释权。</td>
                    </tr>
                </table>

             </span>
         </span>
     </div>
     <div class="footer" data-am-scrollspy="{animation:'slide-top', repeat: false}">
         <ul class="foot_ul">
             <li class="current"><a href="/" class="">金价</a></li>
             <li class=""><a href="/contact" class="">联系</a></li>
         </ul>
     </div>