<div id="w_grid-1571719344816" class="w_grid-000" data-tmpleditable="editable">
  <div class="w_grid signal">
    <div class="e_box e_box-000 p_gridbox">
      <div id="content_box-1571719344816-0" class="e_box e_box-000 d_gridCell_0 p_gridCell ND_empty" data-editablecontent="1571719344816">
        <div id="w_grid-1571719655669" class="w_grid-000">
          <div class="w_grid signal">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571719655669-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_grid-1571719736126" class="w_grid-000">
                  <div class="w_grid signal">
                    <div class="e_box e_box-000 p_gridbox">
                      <div id="content_box-1571719736126-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                        <div id="w_common_text-1571719759553" class="reset_style">
                          <div>
                            <p>
                              <span style="line-height:1.6">
                                <span style="font-size:34px">
                                  <span style="font-family:微软雅黑">
                                    <span style="color:#FFFFFF"><strong>出版书籍</strong> </span>
                                  </span>
                                </span>
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w_grid-1571739693743" class="w_grid-000" data-vhide100p="true" data-vhide1024="true">
          <div class="w_grid signal">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571739693743-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_grid-1571739693747" class="w_grid-000">
                  <div class="w_grid signal">
                    <div class="e_box e_box-000 p_gridbox">
                      <div id="content_box-1571739693747-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                        <div id="w_common_text-1571739693751" class="reset_style">
                          <div>
                            <p>
                              <span style="line-height:1.6">
                                <span style="font-size:34px">
                                  <span style="font-family:微软雅黑">
                                    <span style="color:#FFFFFF"><strong>出版书籍</strong></span>
                                  </span>
                                </span>
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w_grid-1571719662523" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571719662523-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1571719960246" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571719960246-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="c_portalResIntro_category-15717369489732274" class="c_portalResIntro_category-01001" loaded="true">
<div class="e_box p_problemCategory">
  <span class="e_btn btn btn-primary p_btn-show" data-ename="点击按钮">全部分类<i class="e_icon iconfont">&#xe6af;</i></span>

  <div class="e_box p_category" data-ename="分类容器">
    <div class="e_btn p_btn-hide background_assist"><i class="e_icon iconfont p_c-fff color_horizon background_sort">&#xe6af;</i></div>
    <div class="e_box p_categoryBox js_categoryBox dialog" data-ename="分类外框">
      <% @articles.each do |article|%>

      <div class="e_box p_parentBox">
        <div class="e_link p_linkBox mouse_bac <%= 'click' if @article.id == article.id %>" data-ename="分类标签">
          <%= link_to article.title, book_path(article.id), class: "e_title p_title" -%>
          <i class="e_icon iconfont p_categoryBtn color_assist" data-ename="分类图标"></i>
        </div>
        <div class="e_box p_childBox hide" data-ename="子分类"></div>
      </div>
      <% end -%>
    </div>
  </div>

</div>


</div></div>       </div>  </div></div></div>       </div>  </div></div><div id="w_grid-1571719659970" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571719659970-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="c_portalResIntro_detail-15717198284949789" class="c_portalResIntro_detail-01001" loaded="true">
<div class="e_box p_contentBox" loaded="true" data-infoid="4">


    <div class="e_HtmlEditor p_content">
        <div class="e_box p_con">
          <div class="reset_style js-reset_style js-adapMobile ">
            <%= raw @article.content -%>
          </div>
        </div>
    </div>
    <div class="e_box p_assist">
        <div class="e_box p_KeywordBox"> </div>
    </div>

</div>

<!-- <input type="hidden" class="vUrlParam" value=""/> -->
<input type="hidden" class="vUrlParam" value="&source=1&id=4&catid=3">
</div></div>       </div>  </div></div></div>       </div>  </div></div>