<div id="w_grid-1571719344816" class="w_grid-000" data-tmpleditable="editable">
  <div class="w_grid signal">
    <div class="e_box e_box-000 p_gridbox">
      <div id="content_box-1571719344816-0" class="e_box e_box-000 d_gridCell_0 p_gridCell ND_empty" data-editablecontent="1571719344816">
        <div id="w_grid-1571726737448" class="w_grid-000">
          <div class="w_grid signal">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571726737448-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_grid-1571726737458" class="w_grid-000">
                  <div class="w_grid signal">
                    <div class="e_box e_box-000 p_gridbox">
                      <div id="content_box-1571726737458-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                        <div id="w_common_text-1571726737498" class="reset_style">
                          <div>
                            <p>
                              <span style="line-height:1.7">
                                <span style="font-size:34px">
                                  <span style="font-family:微软雅黑">
                                    <span style="color:#FFFFFF">
                                      <strong>服务介绍</strong></span>
                                  </span>
                                </span>
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w_grid-1571739902918" class="w_grid-000" data-vhide100p="true" data-vhide1024="true">
          <div class="w_grid signal">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571739902918-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_grid-1571739902924" class="w_grid-000">
                  <div class="w_grid signal">
                    <div class="e_box e_box-000 p_gridbox">
                      <div id="content_box-1571739902924-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                        <div id="w_common_text-1571739902928" class="reset_style">
                          <div>
                            <p>
                              <span style="line-height:1.7">
                                <span style="font-size:34px">
                                  <span style="font-family:微软雅黑">
                                    <span style="color:#FFFFFF">
                                      <strong>服务介绍</strong></span>
                                  </span>
                                </span>
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w_grid-1571726737488" class="w_grid-000">
          <div class="w_grid signal">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571726737488-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_grid-1571726838851" class="w_grid-000">
                  <div class="w_grid signal">
                    <div class="e_box e_box-000 p_gridbox">
                      <div id="content_box-1571726838851-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                        <div id="w_common_text-1571726850866" class="reset_style">
                          <div>
                            <%= raw @page_1.try(:content)%>
                          </div>
                        </div>
                        <div id="w_grid-1571726941001" class="w_grid-001">
                          <div class="w_grid ">
                            <div class="e_box e_box-000 p_gridbox">
                              <%= raw @page_2.try(:content)%>
       <!--                        <div id="content_box-1571726941001-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                                <div id="w_common_text-1571726916595" class="reset_style">
                                  <div>

                                  </div>
                                </div>
                              </div>
 -->                              <!-- <div id="content_box-1571726941001-1" class="e_box e_box-000 d_gridCell_1 p_gridCell">
                                <div id="w_fimg-1571726971655" class="w_fimg-000">
                                  <div class="w_img animated  ">
                                    <div class="e_box e_box-000 p_box">
                                      <div class="e_image e_DImage-001 p_dimage">
                                        <img src="/img/jt1.jpg" alt="这是描述信息" title="这是描述信息" width="100%" height="100%"></div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                        <div id="w_grid-1571727117597" class="w_grid-001">
                          <div class="w_grid ">
                            <div class="e_box e_box-000 p_gridbox">
                              <%= raw @page_3.try(:content)%>

                              <div id="content_box-1571727117597-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                                <div id="w_common_text-1571727117603" class="reset_style">
                                  <div>
                                  </div>
                                </div>
                              </div>
                              <!-- <div id="content_box-1571727117597-1" class="e_box e_box-000 d_gridCell_1 p_gridCell">
                                <div id="w_fimg-1571727117606" class="w_fimg-000">
                                  <div class="w_img animated  ">
                                    <div class="e_box e_box-000 p_box">
                                      <div class="e_image e_DImage-001 p_dimage">
                                        <img src="/img/jiating1.jpg" alt="这是描述信息" title="这是描述信息" width="100%" height="100%"></div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w_grid-1571727293066" class="w_grid-000">
          <div class="w_grid signal">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571727293066-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_common_text-1571727534860" class="reset_style">
                  <div>
                    <%= raw @page_4.try(:content)%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>