<div id="w_grid-1571719344816" class="w_grid-000" data-tmpleditable="editable">
  <div class="w_grid signal">
    <div class="e_box e_box-000 p_gridbox">
      <div id="content_box-1571719344816-0" class="e_box e_box-000 d_gridCell_0 p_gridCell ND_empty" data-editablecontent="1571719344816">
        <div id="w_grid-1571731083734" class="w_grid-000">
          <div class="w_grid signal">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571731083734-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_grid-1571731083744" class="w_grid-000">
                  <div class="w_grid signal">
                    <div class="e_box e_box-000 p_gridbox">
                      <div id="content_box-1571731083744-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                        <div id="w_common_text-1571731083784" class="reset_style">
                          <div style="padding-top:2px;">
                            <p>
                              <span style="font-size:34px">
                                <span style="font-family:微软雅黑">
                                  <span style="color:#FFFFFF">
                                    <strong><%= @page.title -%></strong></span>
                                </span>
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w_grid-1571740060318" class="w_grid-000" data-vhide100p="true" data-vhide1024="true">
          <div class="w_grid signal">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571740060318-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_grid-1571740060322" class="w_grid-000">
                  <div class="w_grid signal">
                    <div class="e_box e_box-000 p_gridbox">
                      <div id="content_box-1571740060322-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                        <div id="w_common_text-1571740060326" class="reset_style">
                          <div>
                            <p>
                              <span style="font-size:34px">
                                <span style="font-family:微软雅黑">
                                  <span style="color:#FFFFFF">
                                    <strong><%= @page.title %></strong></span>
                                </span>
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w_grid-1571731083754" class="w_grid-000">
          <div class="w_grid signal">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571731083754-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_grid-1571731083764" class="w_grid-000">
                  <div class="w_grid signal">
                    <div class="e_box e_box-000 p_gridbox">
                      <div id="content_box-1571731083764-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                        <div id="w_common_text-1571731083789" class="reset_style">
                          <div>
                            <p style="text-align:center">
                              <span style="color:#000000">
                                <span style="font-size:36px">
                                  <span style="font-family:微软雅黑">
                                    <strong><%= @page.title %></strong></span>
                                </span>
                              </span>
                            </p>
                          </div>
                        </div>
                        <div id="w_common_text-1571731083794" class="reset_style">
                          <div>
                            <%= raw @page.content%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>