<% if page.current? %>
  <div class='pageNum active'>
    <%= page %>
  </div>
<% else %>
  <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: "pageNum" %>
<% end %>
