<% if current_page.first? %>
  <%= link_to raw('<div class="font"> <i class="iconfont"></i> <span class="i_pre">上一页 </span> </div>'), url, rel: 'prev', remote: remote, class: "pre pre1" %>
<% else %>
  <%= link_to raw('<div class="font"> <i class="iconfont"></i> <span class="i_pre">上一页 </span> </div>'), url, rel: 'prev', remote: remote, class: "pre" %>

<% end -%>
