<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <title>固源珠宝</title>
  </head>

  <body>
    <div id="header" data-am-scrollspy="{animation:'slide-top', repeat: false}">
        <span style='color:#000; font-size:36px; text-align:center'>固源珠宝</span>
        <div class="header_div" style="float:right">
           <div class="header_span3" id="stock_t_status"></div>
           <div class="header_span2" id=Servertime></div>
        </div>
    </div>
    <%= yield %>
  </body>
</html>